@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@media (max-width:760px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;

}
html {
    scroll-behavior: smooth;
}    
.foto{
    width: 100%;
    margin-top: 80px;
}
header{
    position: fixed;
    top: 0;
}
.alink{
    scroll-margin-top: 68px;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    gap: 5px;  
    width: 100%;
    height: 300px;
    padding: 5px;
}
.img{
    width: 100%;
}
.container{
    width: 100%;
    text-align: justify;
    background-color: rgba(81, 21, 21);
    color: white;
    padding: 5px;
}
.container h2,p{
    margin-top: 10px;
}
.container p{
    margin-bottom: 20px;
    line-height: 1.4;
}
.red{
    color: red;
    font-weight: 800;
}
.linkGallery{
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
   background-color: blue;
}
.map{
    width: 100%;
    padding: 5px;
}
.fbLink{
    display: flex;
    color: white;
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
}
.fbLink img{
width: 30px;
height: 30px;
margin-left: 20px;
}
.Contacts{
    scroll-margin-top: 90px;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px;
}
.contacts a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 15px;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: aquamarine;
}
.repairList{
    list-style: none;
}
.repairList li{
    /* position: relative; */
    padding-left: 25px;
    color: white;
}
.repairList li::before{content: url('data:image/svg+xml;utf8,<svg stroke="currentColor" fill="white" stroke-width="0" viewBox="0 0 256 256" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path d="M236.52,187.09l-143-97.87a36,36,0,1,0-14.38,17.27l21.39,21.69L79.15,149.54l0,0a35.91,35.91,0,1,0,14.38,17.27l26.91-18.41L170,198.64a32.26,32.26,0,0,0,22.7,9.37,31.52,31.52,0,0,0,4.11-.27l.28,0,36.27-6.11a8,8,0,0,0,3.19-14.5Zm-162.38-97A20,20,0,1,1,80,76,20,20,0,0,1,74.14,90.13Zm0,104A20,20,0,1,1,80,180,20,20,0,0,1,74.14,194.15Zm61-101.5L169.94,57.4a32.19,32.19,0,0,1,26.84-9.14l.28,0,36,6.07a8.21,8.21,0,0,1,6.09,4.42,8,8,0,0,1-2.67,10.12l-69.93,47.85a4,4,0,0,1-4.51,0l-26.31-18A4,4,0,0,1,135.18,92.65Z"></path></svg>');
    /* position: absolute;
    left: 0;
    top: 0;     */
}
}
@media (min-width:760px) {
.fotoContainer{
    color: white;
}
.mainContainer{
    display: flex;
    flex-direction: column;
}    
.container{
    display: flex;
}
.content{
    display: flex;
    flex-direction: column;
}
.Contacts{
    display: flex;
    flex-direction: column;
}
.img{
    width: 300px;
}
.social{
    display: flex;
}
.fbLink img{
    height: 50px;
}
.repairList{
    list-style: none;
}
.repairList li{
    position: relative;
    padding-left: 25px;
    color: white;
}
.repairList li::before{content: url('data:image/svg+xml;utf8,<svg stroke="currentColor" fill="white" stroke-width="0" viewBox="0 0 256 256" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path d="M236.52,187.09l-143-97.87a36,36,0,1,0-14.38,17.27l21.39,21.69L79.15,149.54l0,0a35.91,35.91,0,1,0,14.38,17.27l26.91-18.41L170,198.64a32.26,32.26,0,0,0,22.7,9.37,31.52,31.52,0,0,0,4.11-.27l.28,0,36.27-6.11a8,8,0,0,0,3.19-14.5Zm-162.38-97A20,20,0,1,1,80,76,20,20,0,0,1,74.14,90.13Zm0,104A20,20,0,1,1,80,180,20,20,0,0,1,74.14,194.15Zm61-101.5L169.94,57.4a32.19,32.19,0,0,1,26.84-9.14l.28,0,36,6.07a8.21,8.21,0,0,1,6.09,4.42,8,8,0,0,1-2.67,10.12l-69.93,47.85a4,4,0,0,1-4.51,0l-26.31-18A4,4,0,0,1,135.18,92.65Z"></path></svg>');
    position: absolute;
    left: 0;
    top: 0;    
}
}
