
@media (max-width:760px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .desktopHeader{
        display: none;
    }
    header{
        width: 100%;
    }
    .sideMenu{
        position: fixed;
        top: 0;
        right: -250px; 
        width: 250px;
        height: 100vh;
        background-color:rgb(80, 5, 5); 
        transition: right 0.3s ease-in-out;
        z-index: 2; 
    }
    .sideMenu.open{
        right: 0;
    }
    .sideMenu a{
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s; 
    }
    .sideMenu a:hover{
        color: #f1f1f1;
    }
    
    .testas{
        background-color: red;
    }
    
    .menuList{
        margin-top: 80px;
    }
    .menuList li::before{content: url('data:image/svg+xml;utf8,<svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 15 15" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.949988 4.48455C0.949988 5.34059 1.64395 6.03455 2.49999 6.03455C3.35603 6.03455 4.04999 5.34059 4.04999 4.48455C4.04999 3.6285 3.35603 2.93455 2.49999 2.93455C1.64395 2.93455 0.949988 3.6285 0.949988 4.48455ZM2.49999 6.93455C1.14689 6.93455 0.0499878 5.83764 0.0499878 4.48455C0.0499878 3.13145 1.14689 2.03455 2.49999 2.03455C3.85309 2.03455 4.94999 3.13145 4.94999 4.48455C4.94999 4.80813 4.88726 5.11707 4.77329 5.39985L5.73655 6.04413C5.72943 6.06656 5.72269 6.08914 5.71635 6.11188L5.56288 6.66186L5.21005 6.89773L4.21554 6.23366C3.77357 6.6672 3.168 6.93455 2.49999 6.93455ZM0.949991 10.5C0.949991 9.64394 1.64395 8.94998 2.49999 8.94998C3.35603 8.94998 4.04999 9.64394 4.04999 10.5C4.04999 11.356 3.35603 12.05 2.49999 12.05C1.64395 12.05 0.949991 11.356 0.949991 10.5ZM2.49999 8.04998C1.14689 8.04998 0.0499908 9.14688 0.0499908 10.5C0.0499908 11.8531 1.14689 12.95 2.49999 12.95C3.85309 12.95 4.94999 11.8531 4.94999 10.5C4.94999 10.1803 4.88877 9.87497 4.77743 9.595L15 2.75737L14.0486 2.85737C12.7077 2.9983 11.4091 3.40895 10.231 4.06461L7.15646 5.77564C6.92307 5.90553 6.75134 6.12339 6.67955 6.38066L6.42653 7.28737L4.22437 8.75957C3.78166 8.32091 3.17246 8.04998 2.49999 8.04998ZM7.14435 9.2149L7.15646 9.22176L10.231 10.9328C11.4091 11.5884 12.7077 11.9991 14.0486 12.14L15 12.24L8.81072 8.1003L7.14435 9.2149Z" fill="white"></path></svg> ');
    padding-left: 8px;
    }
    
    .menuList li:hover::before{content: url('data:image/svg+xml;utf8,<svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 15 15" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.949988 4.48455C0.949988 5.34059 1.64395 6.03455 2.49999 6.03455C3.35603 6.03455 4.04999 5.34059 4.04999 4.48455C4.04999 3.6285 3.35603 2.93455 2.49999 2.93455C1.64395 2.93455 0.949988 3.6285 0.949988 4.48455ZM2.49999 6.93455C1.14689 6.93455 0.0499878 5.83764 0.0499878 4.48455C0.0499878 3.13145 1.14689 2.03455 2.49999 2.03455C3.85309 2.03455 4.94999 3.13145 4.94999 4.48455C4.94999 4.80813 4.88726 5.11707 4.77329 5.39985L5.73655 6.04413C5.72943 6.06656 5.72269 6.08914 5.71635 6.11188L5.56288 6.66186L5.21005 6.89773L4.21554 6.23366C3.77357 6.6672 3.168 6.93455 2.49999 6.93455ZM0.949991 10.5C0.949991 9.64394 1.64395 8.94998 2.49999 8.94998C3.35603 8.94998 4.04999 9.64394 4.04999 10.5C4.04999 11.356 3.35603 12.05 2.49999 12.05C1.64395 12.05 0.949991 11.356 0.949991 10.5ZM2.49999 8.04998C1.14689 8.04998 0.0499908 9.14688 0.0499908 10.5C0.0499908 11.8531 1.14689 12.95 2.49999 12.95C3.85309 12.95 4.94999 11.8531 4.94999 10.5C4.94999 10.1803 4.88877 9.87497 4.77743 9.595L15 2.75737L14.0486 2.85737C12.7077 2.9983 11.4091 3.40895 10.231 4.06461L7.15646 5.77564C6.92307 5.90553 6.75134 6.12339 6.67955 6.38066L6.42653 7.28737L4.22437 8.75957C3.78166 8.32091 3.17246 8.04998 2.49999 8.04998ZM7.14435 9.2149L7.15646 9.22176L10.231 10.9328C11.4091 11.5884 12.7077 11.9991 14.0486 12.14L15 12.24L8.81072 8.1003L7.14435 9.2149Z" fill="black"></path></svg> ');
    }
    .closeBtn {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 36px;
        margin-left: 50px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }
    .sideMenu ul{
        list-style-type: none;
    }
    main {
           transition: margin-left 5s;
    }
    .line1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        background-color: rgb(80, 5, 5);
        color: white;
        text-align: center;
        font-size: 1.2em;
        text-decoration: none;
        line-height: 1.5;
        
    
    }
    .line2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        /* font-size: 0.75em; */
        /* font-weight: 700; */
        background-color: white;
    }
    .logo-img{
        width: 50px;
        height: 50px;
    }
    
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        z-index: 1;
    }
    
    .overlay.active {
        opacity: 1;
        visibility: visible;
        pointer-events: none;
    }
    
    .menuBtn, .closeBtn {
        cursor: pointer;
    }
    .menu-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 60px;
        margin-left: 10px;
    }
    .menu-link{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        color: white;  
        cursor: pointer;
        transition: 1ms;
    }
       
    }
    .menu-link:hover, .menu-link a:hover{
        background-color: white;
        color: rgba(81, 21, 21);
    }
    
    @media (min-width:761px){
    *{
        margin: 0;
        padding: 0;
    }
    .sideMenu, .mobileHeader{
        display: none;
    }
    .topLine, .midleLine, .bottomLine{
        background-color: rgb(80, 5, 5);
        width: 1000px;
        padding-left: calc(50% - 500px);
        padding-right: calc(50% - 500px);
    }
    .bottomLine{
        background-color: lightgrey;
    }
    .fotoContainer{
        background-color: rgb(80, 5, 5);
        width: 1000px;
        margin-left: calc(50% - 500px);
        margin-right: calc(50% - 500px);
    }
    .navTopLink{
        color: white;
    
    }
    main{
        background-color: rgba(205, 140, 140, 0.323);    
    }
    .navTop, .navBottom{
        display: flex;
        gap: 30px;
        font-size: 20px;
        align-items: center;
        justify-content: flex-end;
    
    }
    .navBottom{
        justify-content: space-between;
    }
    .navTopLink, .navBottomLink{
        text-decoration: none;
    }
    .navBottomLink{
        color: black;
    }
    .midleLine{
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .midleLine img{
        height: 140px;
    }
    }