*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.foto{
    width: 100%;
}
.paslaugos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    gap: 5px;
    
    width: 100%;
    height: 300px;
}
.img{
    width: 100%;
}

