*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sideMenu{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 1; 
}
.sideMenu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; 
}
.sideMenu a:hover{
    color: #f1f1f1;
}
.closeBtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.menuBtn{
    position: fixed;
    top: 0px;
    left: 10px; 
}
main {
    padding: 16px;
    transition: margin-left 5s;
}